<div class="item entry desc" style="padding-left: {{item.indent}}.2em;" data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}"{{#unless this.data.enabled}} disabled{{/unless}}>
    {{#if (eq item.type "advantage_container")}}
    {{#if item.data.open}}
    <i class="fas fa-caret-down expandcollapseicon"></i>
    {{else}}
    <i class="fas fa-caret-right expandcollapseicon"></i>
    {{/if}}
    {{/if}}
    {{item.name}}{{#if this.data.levels}} {{item.data.levels}}{{/if}}
    {{#if (gt item.data.cr -1)}}
    <div class="list_note">{{localize (concat "gurps.advantage.cr." item.data.cr)}}</div>
    {{/if}}
    {{#if item.notes}}<div class="list_note">{{#each item.notes}}{{#if (gt @index 0)}}; {{/if}}{{this.name}}{{#if this.notes}} ({{this.notes}}){{/if}}{{/each}}</div>{{/if}}
</div>
<div class="entry pts">{{item.data.calc.points}}</div>
<div class="entry ref">{{item.data.reference}}</div>
{{#if (and item.data.children item.data.open)}}
    {{#each item.children as |item iid|}}
        {{> "systems/gga/templates/actor/parts/actor-advantage.hbs" item=item iid=iid}}
    {{/each}}
{{/if}}